{% extends 'IgaNewsBundle::layout.html.twig' %}
{% block extra %}<script type="text/javascript" src="{{ asset('bundles/iganews/js/home.js') }}"></script>{% endblock %}
{% block content %}
<div id="home-search">
<div class="hint">Busca entre noticias y actualidad artículos de tu interés</div>
  <form id="search-form" action="{{ path('search') }}" method="get">
  <p id="search-bar">
    <input id="search-text" autocomplete="off" class="ui-corner-all ui-widget ui-state-default ui-autocomplete-input" type="text" value="{% if search is defined %}{{ search.q }}{% endif %}" name="q" role="textbox" aria-autocomplete="list" aria-haspopup="true"> <input id="search-submit" type="submit" value="Buscar" class="ui-button ui-widget ui-state-default ui-corner-all" role="button" aria-disabled="false">
  </p>
  
</form></div>
{% if search is defined %}Se obtuvieron <b>{{ search.results }}</b> resultados para "<b>{{ search.q }}</b>" en <b>todas las categorías</b>. <a href="{{ path('home') }}">Volver</a>
{% else %}
<a href="#">Actualidad</a> - <a href="#">Hoy</a> - <a href="#">Esta semana</a> - <a href="#">Este mes</a>
{% endif %}
<br>
<div id="results">
<ul style="padding: 0px; margin: 0px; list-style-type:none">
{% for item in items %}
<li class="item" iid="{{ item.id }}">

	<div class="title"><a url="{{ path('plusOne', { 'item' : item.id }) }}" href="{{ item.link }}" target="_blank">{{ item.title }}</a></div>
	
	<div class="body{% if search is defined %}{% else %} hidden{% endif %}">{{ item.description|striptags }}</div>
	
	<div class="source"><a href="{{ item.source.vendor.url }}"><img src="{{ item.source.vendor.favicon }}" height="14px"> {{ item.source.vendor.title }}</a> en <a href="#">{{ item.category.title }}</a></div>
	<div class="timestamp">{{ item.pubDate|date }}</div>
	<div style="clear:both"></div>
</li>
{% endfor %}
</ul>

</div>
{% endblock %}